.generalcontainer#adminbody
  #adminnav{style:""}
    %ul.horizontal
      %li 快速导航:
      %li
        %a{href:"/admin"} 管理员首页
        >
      %li
        %a{href:"/admin/slides"} 图片轮播管理
        >
      %li 添加图片轮播
  #basic-accordian
    #left{style:"float:left;width:25%;"}
      %ul#menu-header
        %li.current{name:"leftlist",onclick:"tabbing(this)"} 添加图片轮播
        %li{name:"leftlist",onclick:"tabbing(this)"}
          %a{href:"/admin/slides",style:"display:block;width:100%"} 返回上一级
        %li{name:"leftlist",onclick:"tabbing(this);"}
          %a{href:"/admin",style:"display:block;width:100%"} 返回管理员首页
    #right{style:"float:left;width:73%;margin-right:1px"}
      #content1.show{name:"content"}
        %h2 添加图片轮播
        %hr
        = render 'form'
      #content2.hide{name:"content"}
        正在前往上一级...
      #content3.hide{name:"content"}
        正在前往管理员首页...
