<<<<<<< HEAD
%h1 New admin_equipment

= render 'form'

= link_to 'Back', admin_equipment_index_path
=======
%h1 New equipment

= render 'form'

= link_to 'Back', equipment_index_path
>>>>>>> bcfa866b1bbd64aebe4c3a10680050bc753c7dc7
