.col-xs-4
  %h2 Admin page
  %ul
    %li
      =link_to "New Activity", new_admin_activity_path
    %li
      =link_to "New News", new_admin_news_path
    %li
      =link_to "New Company Page", new_company_path