.generalcontainer
  #topdiv
    Hello admin, welcome to WRD Site Admin Portal
.generalcontainer#banner{style:"height:130px"}
  %h1 this is the banner
.generalcontainer#navmenu
  %ul#horizontal{style:"float:right"}
    %li
      %a Change Password
    %li
      %a Sign out
.generalcontainer#body{style:"margin-top:5px;height:700px;background-color:#FFFFFF"}
  #basic-accordian
    #left{style:"float:left;width:25%"}
      #test1-header.accordion_headings.header_highlight
        Homepage
      #test2-header.accordion_headings
        Company Info
      #test3-header.accordion_headings
        Products & Category
      #test4-header.accordion_headings
        Application & Equipments
      #test5-header.accordion_headings
        Contact Info
    /end of left
    #right{style:"float:left;width:73%;margin-right:1px"}
      #test1-content
        .accordion_child#homepage
          %h2 Manage Homepage Items
          %hr
          #homepageitems
            %a Manage Activities <br />
            %a Manage News <br />
            %a Manage Slides
      #test2-content
        .accordion_child
          %h2 Manage Company Info
          %hr
          %p Upload Company Picture
          %input{type:"file",size:"16" }
          %p Update company introduction
          %textarea{col:"50",row:"5"}
          %br
          %button Update
          
      #test3-content
        .accordion_child
          Welcome to download
      #test4-content
        .accordion_child
          welcome to visit us
      #test5-content
        .accordion_child
          um...



  /.rightpart{style:"border:1px #b4e0fc solid;margin-left:2px;float:left;width:74.4%;height:100%"}
  /  %big Welcome to the administration portal
    