.page-content
  .panel.panel-info
    .panel-heading
      %h3.panel-subject
        Product Fields
    .panel-body{style:"background-color:#EFEFEF"}
      %p The Valves provided by us can be adopted in various industrial fields
      .col-lg-12
        .thumbnail
          %img{src:"#{root_url}img/application/Application-l.jpg",alt:"...",width:"80%",height:"80%"}
