.page-content
  #top-container.container-fluid
    .col-md-3{style:"margin-top:5px"}
      %img{src:"#{root_url}img/contact.jpg",alt:"Contact Us",width:"100%",height:"100%"}

    .col-md-8{style:"margin-left:2%;margin-right:2%"}
      .panel.panel-info
        .panel-heading
          %h3.panel-subject Contact Us
        #contactcontainer{style:"width:90%;margin:auto"}
          #R
            Russian Contact
            .Cinfo Email: chinadragon2008@mail.ru
            .Cinfo Skype: Chinadragon2008
            .Cinfo Mobile: +86-13552546716
          #E
            English Contact
            .Cinfo Email: nancy2008@163.com
            .Cinfo Skype: nancy2008wrh
            .Cinfo Mobile: +86-13511028009
          .Cinfo Website:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; www.wrdvalve.com
          .Cinfo Tel/Fax:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +86-10-87653811
          .Cinfo Address: Room 521, 4/F Block1, Building No. 15, Fangzhuang South Road, Fengtai Disdrict, Beijing, China
          .Cinfo Postcode: 100164
        #leavemsg
          %hr
          %h2 Leave us a message here:
          #customername{style:"margin-bottom:5px;margin-left:5px"}
            Your Name:
            %input{type:"text",size:"16"}
            Your Phone:
            %input{type:"text",size:"16"}
          #customeremail{style:"margin-bottom:5px;margin-left:5px"}
            Your Email:&nbsp;
            %input{type:"text",size:"16"}
          #customermsg{style:"margin-left:5px"}
            Your Message:
            %br
            %textarea{cols:"80",rows:"6"}
            %br
            %a.btn.btn-info{href:"#",role:"button",style:"margin-left:20px"} Send