%h1 This is main body content.
%p Find me in app/views/front/index.html.haml

.row
  .col-md-8
    %p Video section
  .col-md-4
    %ul
      %p Recent Activities
.row
  .col-md-3
    %ul
      %p Partners
  .col-md-6
    %p Product Slide show
  .col-md-3
    %ul
      %p News headlines