.page-content
	#top-container.container-fluid
		.col-md-8#videozone
			%embed{style: "height: 350px; width:750px;", src: "http://player.youku.com/player.php/sid/XNTEyOTM1MDQ4/v.swf", quality: "high", align: "middle",  mode: "transparent", type: "application/x-shockwave-flash"}
		.col-md-4#updates 
			%h3 Recent activity
			- @activities.each do |activity|
				%li= activity.title

	#middle-container.container-fluid
		.col-md-2#partners
			%h3 Partners
			%li Microsoft
			%li 31 Heavy Ind
		.col-md-7#prodparam
			%h3 Product Parameters
			%span asdf
		.col-md-2#news
			%h3 News
			- @news.each do |news|
				%li= news.title