#top-container.container-fluid
.col-md-12{style:"margin-top:2px;text-align:center"}
  .panel.panel-info
    .panel-heading
      %h2.panel-subject International Marketing
    %img{src:"#{root_url}img/worldmap-resized.jpg"}
    %p we trade with the whole world
