.page-content
  .container.container-fluid
    #containerleft.col-md-2{style:"background-color:#015EA4;float:left"}
      %h3{style:"padding-left:6px;color:#EFEFEF"} Product Categories
      %ul.nav.nav-tabs.nav-stacked
        %li.active
          %a{href:"#"} Ball Valves
        %li
          %a Check Valves
        %li
          %a Globe Valves
        %li
          %a Gate Valves
    #containerright.col-md-9
      .col-sm-4.col-md-2{style:"margin-left:19px"}
        .thumbnail
          %img{src:"#{root_url}img/products/Checkvalve.jpg",alt:"..."}
          .caption
            %h3 Super Check Valve
            %p
              Size: NPS 1/2" - 48"
              %br
              Pressure: Class 150-2500 LB
            %p{align:"right"}
              %a.btn.btn-info{href:"#",role:"button"} View Details
      .col-sm-4.col-md-2{style:"margin-left:19px"}
        .thumbnail
          %img{src:"#{root_url}img/products/Checkvalve.jpg",alt:"..."}
          .caption
            %h3 Super Check Valve
            %p
              Size: NPS 1/2" - 48"
              %br
              Pressure: Class 150-2500 LB
            %p{align:"right"}
              %a.btn.btn-info{href:"#",role:"button"} View Details
      .col-sm-4.col-md-2{style:"margin-left:19px"}
        .thumbnail
          %img{src:"#{root_url}img/products/Checkvalve.jpg",alt:"..."}
          .caption
            %h3 Super Check Valve
            %p
              Size: NPS 1/2" - 48"
              %br
              Pressure: Class 150-2500 LB
            %p{align:"right"}
              %a.btn.btn-info{href:"#",role:"button"} View Details
      .col-sm-4.col-md-2{style:"margin-left:19px"}
        .thumbnail
          %img{src:"#{root_url}img/products/Checkvalve.jpg",alt:"..."}
          .caption
            %h3 Super Check Valve
            %p
              Size: NPS 1/2" - 48"
              %br
              Pressure: Class 150-2500 LB
            %p{align:"right"}
              %a.btn.btn-info{href:"#",role:"button"} View Details