.page-content
  .container.container-fluid{style:"margin-top:5px"}
    #containerleft.col-md-2{style:"background-color:#015EA4;"}
      %h3{style:"padding-left:6px;color:#EFEFEF"} Product Categories
      %ul.nav.nav-tabs.nav-stacked
        %li.active
          %a{href:"#"} Ball Valves
        %li
          %a Check Valves
        %li
          %a Globe Valves
        %li
          %a Gate Valves
    #containerright.col-md-9
      .nav.nav-justified
        .col-md-3{style:"margin-left:5%;margin-right:0px"}
          .thumbnail
            %img{src:"#{root_url}img/products/Checkvalve.jpg",alt:"..."}
            .caption
              %h3 Ball Valve
              %font{style:"font-size:80%"}
                Size: NPS 1/2" - 56"
                %br
                Pressure: Class 150-2500 LB
                %br
                Material: WCB,LCB,CF8,CF8M, CF3,CF3M,A105, LF2,F304, F316,F304L,F316L
              %p{align:"right"}
                %a.btn.btn-info{href:"#",role:"button"} View Details
        .col-md-3{style:"margin-left:5%;margin-right:0px"}
          .thumbnail
            %img{src:"#{root_url}img/products/Checkvalve.jpg",alt:"..."}
            .caption
              %h3 Gate Valve
              %font{style:"font-size:80%"}
                Size: NPS 1/2" - 48"
                %br
                Pressure: Class 150-2500 LB
                %br
                Material:WCB,LCB,WC6,WC9,C12,C5,CF8,CF3, CF3M,CF8M,A105,LF2,F11, F22,F5,F304,F316,F304L,F316L
              %p{align:"right"}
                %a.btn.btn-info{href:"#",role:"button"} View Details