li
{
	padding-bottom: 5px;
	list-style: none;
}
ul.bullets li{
	list-style-image: url('../img/postbullets.png');
	margin-left:20px;
}


.blockhead{
	font-size: 1.3em;
	font-weight: bold;
	line-height: 30px;
	color:#2E86BD;
	background-image: url('../img/blocktitlebg.jpg');
	background-repeat: repeat-x;
	margin-bottom: 3px;
	margin-top: 0px;
}

/*这个是网页总容器，里面装着Banner, Menu, page, footer*/
div.mainsheet{
	border: 1px solid #2B7DB1;
	width:75%;
	margin:auto;

}

div.banner{
	background-size: auto 100%;
	height: 110px;
	background-image: url('../img/banner.jpg');
	background-repeat: no-repeat;
}
/*图片轮播系列div*/

.fl{display:inline;float:left}
.fr{display:inline;float:right}
.cf:after{content:"";clear:both;display:block;height:0;overflow:hidden}
.cf{zoom:1}
.pb10{padding-bottom:10px}
.mt10{margin-top:10px}

.lanrenzhijia{margin:2px auto;background:#fff;padding:5px;box-shadow:0 0 10px #ccc;}
.lanrenzhijia .title{height:33px;border-bottom: 3px solid #e7e7e7;padding-bottom:10px;}
.lanrenzhijia .title h2{ font-size: 20px;font-family: "microsoft yahei";}
.lanrenzhijia .title-list{ position: relative; top: 6px;}
.lanrenzhijia .title-list li{ width: 120px; line-height: 20px; text-align: center; float: left; display: inline;}
.lanrenzhijia .title-list li.on{ color: #ff6600; font-weight: bold;}
.lanrenzhijia .title-list p{position:absolute;top:24px;left:0px;width:120px;height:7px;border-top: 3px solid #ff6600; overflow: hidden; text-align: center;}
.lanrenzhijia .title-list b{display:inline-block;width:0;height:0;margin-top:-3px;border-style:solid dashed dashed dashed;border-width:9px;border-color: #ff6600 #fff #fff #fff;overflow: hidden;zoom: 1;font-size: 0;}
.product{ height: 150px; position: relative; overflow: hidden; display: none; margin-top: 10px;}
.product ul{ position: absolute; left: 0px;}
.product-wrap .show{display: block;}
.product-wrap .product li{ float: left; display: inline; margin-left: 13px;background: #f3f3f3;border: 2px solid #fafafa; transition:0.4s;-webkit-transition:0.4s;-moz-transition: 0.4s;-o-transition: 0.4s;-ms-transition: 0.4s;}
.product-wrap .product li.ml0{margin-left:0px;}
.product-wrap .product li a.imgwrap{ display: block; width: 226px; height: 200px; background: #fff; text-align:center;}
.product-wrap .product li p{padding-left: 15px;color: #666666;line-height: 22px;}
.product-wrap .product li p a{ color: #666666; text-decoration: none;}
.product-wrap .product li p a:hover{ color: #ff6600; text-decoration: none;}



/*这个是位于菜单下面的 页面 容器*/
	div.page-content{
	border:1px solid #C1D4D3;
	background-color: #E7EEEE;
	height:auto;
	overflow:hidden;
}

/*这个class只规定菜单Li的颜色、边框*/
ul.menu-item li{
	border-right-style: groove;
	border-width: 3px;
	background-color: #015EA4;
	color: #ffffff;
	line-height: 30px;
	font-weight: bold;
	padding: 5px 5px 0px 5px;
}

/*这个class规定了当前页/当前标签的颜色*/
ul.menu-item li.active{
	background-color: #015EA4;
	font-weight: bold;
	color: #015EA4;
}
ul.admin-menu {
	background-color:#7eaceb;
	padding-left:5px;
	line-height: 20px;
	margin:auto;
	width:95%;
	margin-bottom: 5px;
	font-size:12pt;
}
ul.admin-menu a{
	color:#ffffff;
}
ul.admin-menu a:hover{
	color:#2E86BD;
	background-color: #EEEEEE;
}

div.footer{
	margin: 5px;
	border: 1px solid #C1D4D3;
	background-color: #E7EEEE;
	height: auto;
	overflow: hidden;
	padding: 5px;
	font-size: 10pt;
	text-align:center;
}

/*以下是各种ID*/
div#sitename{
	color:#015ea4;
	width: 25%;
	height: 100%;
	float:right;
	text-align: right;
	background-image:url('../img/people.png');
	background-repeat: no-repeat;

}
div#wrdlogo{
	background-image:url('../img/logoNtext.png');
	background-repeat:no-repeat;
	width: 70%;
	height:100%;
	float: left;
}

div#videozone{
	margin-top:3px;
	background-color:#FFFFFF;
	border-radius: 4px;
	border:1px solid #C1D4D3;

}
div#prodparam,#news,#companyavatar,#companyintro,#partners,.adminlist,#aboutus,#brochure{
	margin-top:3px;
	margin-left:3px;
	background-color:#FFFFFF;
	border-radius: 4px;
	border:1px solid #C1D4D3;
	padding:5px;
	overflow:hidden;

}

div.Cinfo{
	font-weight: normal;
	color:#2E86BD;
	font-size: 13pt;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #008080;
}
div#R,#E{
	width:50%;
	color:#2E86BD;
	font-weight:bold;
	font-size:16pt;
	float:left;
}
li.partner{
	margin-bottom:5px;
	width:155px;
	float:left;
	margin-left:10px;
}
#brochures{
	background-image:url('../img/download.png');
	background-repeat:no-repeat;
	width:131px;
	margin:auto;
}