.container.container-fluid{style:"margin-top:5px;"}
  .pageblock{style:"padding-bottom:10px;min-height:650px"}
    .blockhead{style:"width:80%"} Applications of Our Products
    .col-md-12
    - @applications.each do |application|
      .thumb
        #imagewrapper{style:"margin:auto;margin:5px auto;text-align:center"}
          =image_tag application.avatar,{width:"172",height:"172"}
        %div{style:"text-align:center;"}
          =link_to "#{application.title}", application,{style:"color:#2E86BD;"}


/ %h1 Listing applications

/ %table
/   %tr
/     %th Title
/     %th
/     %th
/     %th

/   - @applications.each do |application|
/     %tr
/       %td= application.title
/       %td
/         =image_tag application.avatar(:medium)
/       %td= link_to 'Show', application
/       %td= link_to 'Edit', edit_application_path(application)
/       %td= link_to 'Destroy', application, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br
