/*Footer*/
.generalcontainer#footer{style:"width:100%;text-align:center"}
  %p{style:"background-color:#539cdb"}
    %a{href:"/admin/"}
      管理界面首页
    |
    %a{href:"/",target:"_blank"}
      预览网站
    |
    %a{href:"#"}
      修改密码
    |
    %a{href:"/"}
      注销
  %p
    Copyright(C) WRD Valves Ltd. | Powered by w3try.com
/*Footer*/