/*Footer*/
.generalcontainer#footer{style:"width:100%;text-align:center"}
  %p{style:"background-color:#539cdb"}
    %a{href:"/admin/",style:"color:#FFF"}
      管理界面首页
    |
    %a{href:"/",target:"_blank",style:"color:#FFF"}
      预览网站
    |
    = link_to '更改登录密码', edit_admin_registration_path(current_admin),{style:"color:#FFFFFF;"}
  %p
    Copyright(C) WRD Valves Ltd. | Powered by w3try.com
/*Footer*/