/*Header*/
.generalcontainer
  #topdiv
    你好 admin, 欢迎来到伟润德后台管理界面
.generalcontainer#banner{style:"height:130px;"}
  /*%h1{style:"text-align:center;line-height:130px;border: 1px solid #DAF0FB;background:#DAF0FB"} 你就当我是个横幅图片吧*/
  %img{src:"#{root_url}img/logoNtext.jpg"}
.generalcontainer#navmenu
  %ul.horizontal{style:"float:right"}
    %li
      =link_to "预览网站首页", root_url
      &nbsp;|
    %li
      %a 更改登录密码
      &nbsp;|
    %li
      %a 注销
/*Header*/
