/*Header*/
.generalcontainer
  #topdiv
    你好 admin, 欢迎来到伟润德后台管理界面
.generalcontainer#banner{style:"height:130px;"}
  %img{src:"#{root_url}img/logoNtext.jpg"}
.generalcontainer#navmenu
  %ul.horizontal{style:"float:right"}
    %li
      %a{href:"/",target:"_blank"} 预览网站首页
      &nbsp;|
    %li
      %a 更改登录密码
      = link_to '更改登录密码', edit_admin_registration_path(current_admin)
      &nbsp;|
    %li
      %a.logout 注销
/*Header*/

:javascript
  $(document).ready(function() {
    var load = new Accordian('basic-accordian',5,'header_highlight');
    $(".logout").click(function(){
      $.ajax({
        type: "DELETE",
        url: "/admin/logout",
        data: "",
        contentType: "application/json; charset=utf-8",
        dataType: "json"
      });
  });

