.container.container-fluid{style:"margin-top:5px;"}
  .pageblock{style:"padding-bottom:10px;min-height:650px"}
    .blockhead Our Equipments
    .col-md-12
    - @equipment.each do |equipment|
      .thumb
        #imagewrapper{style:"margin:auto;margin:5px auto;text-align:center"}
          =image_tag equipment.avatar,{width:"172",height:"172"}
        %div{style:"text-align:center;"}
          =equipment.title