.page-content
  #top-container.container-fluid
    .col-md-6#companyavatar{style:"height:auto"}
      %p#notice= notice

      - if not @company.nil?
        =image_tag @company.avatar.url(:large)

        / %p
        /   %b Content:
        /   = @company.content.html_safe

  
        / = link_to 'Edit', edit_company_path(@company)
        / \|
        / = link_to 'Back', companies_path
      - else
        %p 
          %b Empty company page.
        %p 
          %b Create company page first.
    - if not @company.nil?
      #companyintro{style:"height:auto"}
        #companyintrotitle
          %h3 Introduction to WRD Valves Ltd.
        = @company.content.html_safe
      / %h2 Introduction to WRD Valves Co., Ltd
      / %p WRD valves Co., Ltd established in 2008

