.generalcontainer#adminbody
  #adminnav{style:""}
    %ul.horizontal
      %li
        快速导航:
      %li
        %a{href:"/admin"} 管理员首页
        >
      %li 网站动态管理
  #basic-accordian
    #left{style:"float:left;width:25%;"}
      #test1-header.accordion_headings.header_highlight
        所有网站动态
      %a{href:"/admin",style:"text-decoration:none"}
        #test2-header.accordion_headings
          返回管理员首页

    #right{style:"float:left;width:73%;margin-right:1px"}
      #test1-content
        .accordion_child#allactivities
          %h2 当前所有网站动态
          %hr
          #activitylist
            - @activities.each do |activity|
              %ul.horizontal
                %li= activity.title
                %li= link_to '编辑', edit_admin_activity_path(activity)
                %li= button_to '删除', admin_activity_path(activity), :method => :delete, :data => { :confirm => '确定删除吗？' }
            %br

            = link_to '添加网站动态', new_admin_activity_path
      #test2-content
        .accordion_child#allactivities
          正在前往管理员首页...