.generalcontainer#adminbody
  #adminnav{style:""}
    %ul.horizontal
      %li 快速导航:
      %li
        %a{href:"/admin"} 管理员首页
        >
      %li
        %a{href:"/admin/products"} 产品管理
        >
      %li 编辑产品信息
  #basic-accordian
    #left{style:"float:left;width:25%;"}
      %ul#menu-header
        %li.current{name:"leftlist",onclick:"tabbing(this)"} 编辑产品
        %li{name:"leftlist",onclick:"tabbing(this)"}
          %a{href:"/admin/products",style:"display:block;width:100%"} 返回上一级
        %li{name:"leftlist",onclick:"tabbing(this);"}
          %a{href:"/admin",style:"display:block;width:100%"} 返回管理员首页
    #right{style:"float:left;width:73%;margin-right:1px"}
      #content1.show{name:"content"}
        %h2 编辑产品
        %hr
        = render 'form'
        %script{src:"#{root_url}ckeditor/ckeditor.js"}
        %script{type:"text/javascript"}
          CKEDITOR.replace('product_standards');
          CKEDITOR.replace('product_description');
      #content2.hide{name:"content"}
        正在前往上一级...
      #content3.hide{name:"content"}
        正在前往管理员首页...