.container.container-fluid{style:"margin-top:5px;"}
  .col-md-2#categories.pageblock
    .blockhead Product Categories
    %ul.bullets{style:"padding-left:5px"}
      %li
        = link_to "All Products", front_product_path,{style:"color:#9988bb"}
      - @producttypes.each do |type|
        %li
          =link_to type.name + 's', product_valve_path(type.id),{style:"color:#0306aa"}
  .pageblock{style:"padding-bottom:10px;min-height:650px"}
    .blockhead Product List
    - @products.each do |product|
      .thumb
        #imagewrapper{style:"margin:auto;margin:5px auto;text-align:center"}
          =image_tag product.photo,{width:"172",height:"172"}
        %div{style:"text-align:center;"}
          =link_to "#{product.title}", product,{style:"color:#2E86BD;"}