%script{src:"#{root_url}js/prodtabbing.js"}
.container.container-fluid{style:"margin-top:5px;"}
  .col-md-2#categories.pageblock
    .blockhead Product Categories
    %ul.bullets{style:"padding-left:5px"}
      %li
        = link_to "All Products", front_product_path,{style:"color:#9988bb"}
      - @producttypes.each do |type|
        %li
          =link_to type.name + 's', product_valve_path(type.id),{style:"color:#0306aa"}
  .pageblock{style:"padding-bottom:10px;min-height:650px"}
    #prodwrapper
      #producttitle.blockhead
        =@product.title
      #photowrapper
        =image_tag @product.photo, {alt:"Product Image",width:"100%",height:"100%"}
      #spacing{style:"height:15px;width:100%;clear:both"}
      #productdetails{style:"width:100%;height:auto;overflow:hidden"}
        %script{src:"#{root_url}js/jquery-ui.js"}
        :javascript
          $(function() {
            $( "#tabs" ).tabs(); });
        #tabs
          #navigator-wrapper
            %ul#prodtab
              %li
                %a{href:"#tabs-1"}
                  Description
              %li
                %a{href:"#tabs-2"}
                  Dimensions
              %li
                %a{href:"#tabs-3"}
                  Standards
              %li
                %a{href:"#tabs-4"}
                  Drawings & Materials
          #tabs-1
            =@product.description.html_safe
          #tabs-2
            =image_tag @product.dimensions_img,{style:"width:100%"}
          #tabs-3
            = @product.standards.html_safe
          #tabs-4
            =image_tag @product.drawing1_img,{style:"width:100%"}
            %br
            =image_tag @product.drawing2_img,{style:"width:100%"}
            %br
            =image_tag @product.materials_img,{style:"width:100%"}

        /以下代码准备废弃
        / %ul#prodtab
        /   %li.current#tab1
        /     Description
        /   %li#tab2
        /     Dimesion
        /   %li#tab3
        /     Standards
        /   %li#tab4
        /     Drawings & Materials
        / #prodcontent
        /   %ul#content1{style:"display:block"}
        /     =@product.description
        /   %ul#content2
        /     =image_tag @product.dimensions_img,{style:"width:100%"}
        /   %ul#content3
        /     = @product.standards
        /   %ul#content4
        /     =image_tag @product.drawing1_img,{style:"width:100%"}
        /     %br
        /     =image_tag @product.drawing2_img,{style:"width:100%"}
        /     %br
        /     =image_tag @product.materials_img,{style:"width:100%"}
