%script{src:"#{root_url}js/tupianlunbo.js"}
.container.container-fluid{style:"margin-top:5px;"}
  .col-md-2#categories.pageblock
    .blockhead Product Categories
    %ul.bullets{style:"padding-left:5px"}
      %li
        = link_to "All Products", front_product_path,{style:"color:#9988bb"}
      - @producttypes.each do |type|
        %li
          =link_to type.name + 's', product_valve_path(type.id),{style:"color:#0306aa"}
  .pageblock{style:"padding-bottom:10px;min-height:650px"}
    #Prodmainpic
      =image_tag @product.photo(:large)
    .blockhead
      Product details
    .lanrenzhijia
      .title.cf
        %ul.title-list.fl.cf
          %li.on.prod Standards
          %li.prod Description
          %li.prod Dimentions
          %li.prod Drawings
          %p.prod
            %b
      .product-wrap
        .product{style:"display:block"}
          %ul.cf
            %li.m10
              =@product.standards
        .product
          %ul.cf
            %li.m10 
              =@product.description
        .product
          %ul.cf
            %li.m10
              %img{src:"#{root_url}img/products/klt1.jpg"}
        .product
          %ul.cf
            %li.m10
              %img{src:"#{root_url}img/products/klt3.jpg"}


/ %p#notice= notice

/ %p
/   %b Title:
/   = @product.title
/ %p
/   %b Standards:
/   = @product.standards
/ %p
/   %b Description:
/   = @product.description

/ %p
/   %b materials_img:
/   =image_tag @product.materials_img(:medium)

/ %p
/   %b dimensions_img:
/   =image_tag @product.dimensions_img(:medium)

/ %p
/   %b drawing1_img:
/   =image_tag @product.drawing1_img(:medium)

/ %p
/   %b drawing2_img:
/   =image_tag @product.drawing2_img(:medium)

/ %p
/   %b photo:
/   =image_tag @product.photo(:medium)

/ = link_to 'Edit', edit_admin_product_path(@product)
/ \|
/ = link_to 'Back', products_path
