%script{src:"#{root_url}js/prodtabbing.js"}
.container.container-fluid{style:"margin-top:5px;"}
  .col-md-2#categories.pageblock
    .blockhead Product Categories
    %ul.bullets{style:"padding-left:5px"}
      %li
        = link_to "All Products", front_product_path,{style:"color:#9988bb"}
      - @producttypes.each do |type|
        %li
          =link_to type.name + 's', product_valve_path(type.id),{style:"color:#0306aa"}
  .pageblock{style:"padding-bottom:10px;min-height:650px"}
    #prodwrapper
      #producttitle.blockhead
        =@product.title
      #photowrapper{style:"width:60%;float:left;height:auto;overflow:hidden"}
        =image_tag @product.photo, {alt:"Product Image",width:"100%",height:"100%"}
      #tablewrapper{style:"width:40%;float:left"}

      #productdetails{style:"width:100%;height:auto;overflow:hidden"}
        %ul#prodtab
          %li.current#tab1
            Description
          %li#tab2
            Dimesion
          %li#tab3
            Standards
          %li#tab4
            Drawings & Materials
        #prodcontent
          %ul#content1{style:"display:block"}
            =@product.description
          %ul#content2
            =image_tag @product.dimensions_img,{style:"width:100%"}
          %ul#content3
            = @product.standards
          %ul#content4
            =image_tag @product.drawing1_img,{style:"width:100%"}
            %br
            =image_tag @product.drawing2_img,{style:"width:100%"}
            %br
            =image_tag @product.materials_img,{style:"width:100%"}
