.footer
  =link_to 'Home', root_url {style:"color:#539cdb"}
  |
  =link_to 'Marketing', front_market_path
  |
  =link_to 'Contact Us', front_contact_path
  |
  =link_to 'Site Map', root_url
  %p
    Copyright &copy; WRD Valves Ltd. | Powered by 
    %a{href:"http://w3try.com",style:"color:#539cdb"}
      w3try