.nav-menu
	%ul.nav.nav-pills.nav-justified.menu-item
		%li.active 
			=link_to 'Home', root_url
		%li
			=link_to 'Company', front_company_path
		%li
			%a Products
		%li
			%a International Markets
		%li
			%a Fields
		%li
			%a Equipments
		%li
			%a Contact us

