.nav-menu
	%ul.nav.nav-pills.nav-justified.menu-item
		%li.active#home 
			=link_to 'Home', root_url
		%li#company
			=link_to 'Company', front_company_path
		%li#products
			%a Products
		%li#internationalmarkets
			%a International Markets
		%li#fields
			%a Fields
		%li#equipments
			%a Equipments
		%li#contactus
			%a Contact us
