.nav-menu
  %ul.nav.nav-pills.nav-justified.menu-item
    %li.active#home 
      =link_to 'Home', root_url
    %li.inactive#company
      =link_to 'Company', front_company_path
    %li.inactive#products
      %a Products
    %li.inactive#internationalmarkets
      %a International Markets
    %li.inactive#fields
      %a Fields
    %li.inactive#equipments
      %a Equipments
    %li.inactive#contactus
      %a Contact us
  %script{src:"#{root_url}js/navbar.js"}