.nav-menu
	%ul.nav.nav-pills.nav-justified.menu-item
		%li.active Home
		%li
			%a Company
		%li
			%a WRD Products
		%li
			%a International Markets
		%li
			%a Fields
		%li
			%a Equipments
		%li
			%a Contactus

