.banner
  #wrdlogo
  #sitename
    %h4 Welcome!
    %p Select Language:
    %p &nbsp;
    %a{href:"#{}"}
      %img{src:"#{root_url}img/ru.png"}
    %a{href:"#{}"}
      %img{src:"#{root_url}img/en.png"}