<!DOCTYPE html>
<html>
  <head>
    <title>WRD Valves Site Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= root_url%>css/adminstyle.css" rel="stylesheet">
    <script src="<%= root_url%>js/accordian.pack.js" type="text/jscript"></script>

  </head>
  <body onload="new Accordian('basic-accordian',5,'header_highlight');">


     <%= yield %> 
<div class='footer' style="text-align:center">
  <p style='background-color:#539cdb'>
    <a href="http://localhost:3000/admin">Admin Home</a>
    |
    <a href="/">Preview Homepage</a>
    |
    <a href="/admin">Change Password</a>
    |
    <a href="/admin">logout</a>
  </p>
  <p>
    Copyright(C) WRD Valves Ltd. | Powered by
    <a href='http://w3try.com' style='color:#539cdb'>
      w3try
    </a>
  </p>
</div>

  </body>
</html>

